# Create a Postgres database on Vercel: https://vercel.com/postgres
POSTGRES_URL="postgres://default:9VzNUGHewBR3@ep-silent-surf-a1ierynx-pooler.ap-southeast-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:9VzNUGHewBR3@ep-silent-surf-a1ierynx-pooler.ap-southeast-1.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:9VzNUGHewBR3@ep-silent-surf-a1ierynx-pooler.ap-southeast-1.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:9VzNUGHewBR3@ep-silent-surf-a1ierynx.ap-southeast-1.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-silent-surf-a1ierynx-pooler.ap-southeast-1.aws.neon.tech"
POSTGRES_PASSWORD="9VzNUGHewBR3"
POSTGRES_DATABASE="verceldb"

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
AUTH_SECRET=b900787029b19c89f2a73f997d511a47
